<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 text-center">
    <!-- Centered heading -->
    <h1 class="display-4 fw-bold" th:text="'Hello and Welcome to ' + ${welcome}"></h1>

    <!-- Add your image -->
    <img src="/doctors.jpg" alt="Doctors" class="mb-4 img-fluid rounded-circle">


</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>